<form name="question" method="post" action="input/question">
	<div class="form-group row">
		<label for="title-label" class="col-form-label col-1">Title</label>
		<div class="col-11">
			<input class="title form-control" placeholder="Title of question">
		</div>
	</div>
	<div class="form-group row">
		<label for="text-label" class="col-form-label col-1">Text</label>
	<div class="col-11">
			<textarea name="text" class="text form-control" placeholder="Your question" rows="6"></textarea>
	</div>
	</div>
	<div class="form-group row">
		<label for="tags-label" class="col-form-label col-1">Tags</label>
		<div class="col-11">
			<input class="tags form-control" placeholder="Title of question">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-1 offset-1">
			<button type="submit" class="btn btn-primary mb-2">ASK</button>
		</div>
	</div>
</form>