{% load static %}

<div class="question-block block-body">
    <div class="row">
        <div class="col-2">
            <div class="user-avatar">
                <img src={% static "/img/user_avatar.png" %}/ class="avatar-img">
            </div>
            <div class="like-counter">
                <a> 
                    <img src={% static "/img/unlike_icon.png" %}/ class="unlike-icon like-button">
                </a>
                <span>
                    {{ question.rating.rating }}
                </span>
                <a>
                    <img src={% static "/img/like_icon.png" %}/ class="like-icon like-button"> 
                </a>
            </div>
        </div>
        <div class="col-10">
            <div class="question-title">
                <h4>
                    <a href={% url 'page_question' question.id %}>
                        {{ question.title }}
                    </a>
                </h4>
            </div>
            <div class="question-text">
                {{ question.text }}
            </div>
            <div class="question-footer">
                <span class="answers">
                    <a href={% url 'page_question' question.id %}>
                        Answers
                        <span class="answer-count">
                            ({{ answers_count }})
                        </span>
                    </a>
                </span>
                <span class="tags">
                    Tags:
                    <span>
                        {% for tag in question.tags.all %}
                            <a class="tag" href={% url 'tag_questions' tag %}>  {{ tag.name }}
                            </a>
                        {% endfor %}
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
